version: '3'

services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${BD_NAME}
    container_name: shopDB
    volumes:
      - ./postgres:/var/lib/postgresql/data
    